.msg {
    position: fixed;
    top: 85%;
    left: 90%;
}

.msg img {
    height: 50px;
}

.contact {
    padding: 20px 40px;
    /* background-color: aqua; */
}

.contact-form {
    border: 2px solid rgb(86, 86, 86);
    padding: 10px 20px;
    border-radius: 20px;
}